<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/sidebar.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/employee-signup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100&display=swap"
    rel="stylesheet">
    <script type="text/javascript" src="../javascript/employe-signup.js"></script>
    <title>Sign up</title>
</head>
<body>
    <header>
        <h1>Trackgenix SA</h1>
    </header>
    <nav>
        <form>
            <div class="container-search">
                <input class= "search" type="text" placeholder="Search">
                <span class="icon">
                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </span>
            </div>
        </form>
        <div class="account-buttons">
            <button class="buttons-account" id="log-in">
                <a href="#"> Log in </a>
            </button>
            <button class="buttons-account" id="sign-up">
                <a href="#"> Sign up </a>
            </button>
        </div>
        <p class="menu"> Menu </p>
        <ul class="sub-menu">
            <li>
                <a href="#homepage">Homepage</a>
            </li>
            <li>
                <a href="#features">Features</a>
            </li>
            <li>
                <a href="#why-trackgenix">Why Trackgenix?</a>
            </li>
            <li>
                <a href="#contact-us">Contact Us</a>
            </li>
        </ul>
        <div class="get-in-touch">
        <p class="menu">Get in touch</p>
        <ul class="more-data">
            <li>mailinfo@trackgenix.com</li>
            <li>123-456789</li>
            <li>123 fake road #2000 Rosario, Argentina</li>
        </ul>
    </nav>
    <form class="sign-up">
        <label for="">First Name</label>
        <input name="first-name" id="first-name" type="text">
        <span id="wrong-first-name"></span>
        <label for="">Last Name</label>
        <input  name="last-name" id="last-name" type="text">
        <span id="wrong-last-name"></span>
        <label for="">Documnent</label>
        <input name="document" id="document" type="text">
        <span id="wrong-document"></span>
        <label for="">Date of Birth</label>
        <input name="date" id="date" type="date">
        <span id="wrong-date"></span>
        <label for="">Phone Number</label>
        <input name="phone" id="phone" type="text">
        <span id="wrong-phone"></span>
        <label for="">Adress</label>
        <input name="adress" id="adress" type="text">
        <span id="wrong-adress"></span>
        <label for="">City</label>
        <input name="city" id="city" type="text">
        <span id="wrong-city"></span>
        <label for="">Postal Code</label>
        <input name="post-code" id="post-code" type="text">
        <span id="wrong-post-code"></span>
        <label for="">Email</label>
        <input name="email" id="email" type="text">
        <span id="wrong-email"></span>
        <label for="">Password</label>
        <input name="password" id="password" type="password" >
        <span id="wrong-password"></span>
        <label for="">Repeat Password</label>
        <input name="repeat-password" id="repeat-password" type="password">
        <span id="wrong-repeat-password"></span>
        <button id="send" type="submit" >Sign Up</button>
    </form>
    <footer>
        <div class="footer-title">
            <h2>TRACKGENIX</h2>
        </div>
        <div class ="first-footer-part">
            <div class="footer-list-one">
                <h4>Products</h4>
                <ol>
                    <li>
                        <a href="#features">Features</a>
                    </li>
                    <li>
                        <a href="#">Downloads</a>
                    </li>
                    <li>
                        <a href="#">Integrations</a>
                    </li>
                    <li>
                        <a href="#">Extras</a>
                    </li>
                </ol>
            </div>
            <div class="footer-list-one">
                <h4>Company</h4>
                <ol>
                    <li>
                        <a href="#homepage">About us</a>
                    </li>
                    <li>
                        <a href="#">Clients</a>
                    </li>
                    <li>
                        <a href="#">Resourses</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                </ol>
            </div>
            <div class="footer-list-one">
                <h4>Support</h4>
                <ol>
                    <li>
                        <a href="#">Help</a>
                    </li>
                    <li>
                        <a href="#">Tutorials</a>
                    </li>
                    <li>
                        <a href="#">API</a>
                    </li>
                    <li>
                        <a href="#contact-us">Contact</a>
                    </li>
                </ol>
            </div>
        </div>
        <div class="social-media">
            <button>
                <a href="https://twitter.com/">
                    <img src="../img/twitter-footer.png" id="social">
                </a>
            </button>
            <button>
                <a href="https://www.linkedin.com/">
                    <img src="../img/linkedin-footer.png">
                </a>
            </button>
            <button>
                <a href="https://github.com/">
                    <img src="../img/github-footer.png">
                </a>
            </button>
            <button>
                <a href="https://www.instagram.com/">
                    <img src="../img/instagram-footer.png">
                </a>
            </button>
            <button>
                <a href="https://www.facebook.com/">
                    <img src="../img/facebook-footer.png">
                </a>
            </button>
        </div>
    </footer>   
</body>
</html>