<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <script type="text/javascript" src="../javascript/employe-signup.js"></script>
</head>
<body>
    <form>
        <label for="">First Name</label>
        <input name="first-name" id="first-name" type="text">
        <span id="wrong-first-name"></span>
        <label for="">Last Name</label>
        <input  name="last-name" id="last-name" type="text">
        <span id="wrong-last-name"></span>
        <label for="">Documnent</label>
        <input name="document" id="document" type="text">
        <span id="wrong-document"></span>
        <label for="">Date of Birth</label>
        <input name="date" id="date" type="date">
        <span id="wrong-date"></span>
        <label for="">Phone Number</label>
        <input name="phone" id="phone" type="text">
        <span id="wrong-phone"></span>
        <label for="">Adress</label>
        <input name="adress" id="adress" type="text">
        <span id="wrong-adress"></span>
        <label for="">City</label>
        <input name="city" id="city" type="text">
        <span id="wrong-city"></span>
        <label for="">Postal Code</label>
        <input name="post-code" id="post-code" type="text">
        <span id="wrong-post-code"></span>
        <label for="">Email</label>
        <input name="email" id="email" type="text">
        <span id="wrong-email"></span>
        <label for="">Password</label>
        <input name="password" id="password" type="password" >
        <span id="wrong-password"></span>
        <label for="">Repeat Password</label>
        <input name="repeat-password" id="repeat-password" type="password">
        <span id="wrong-repeat-password"></span>
        <button id="send" type="submit" >Sign Up</button>
    </form>
    
</body>
</html>