header  {
  position: relative; 
  float: right;
  border: 1px solid black;
  width: 80%;
}
h1  { 
  position: relative;
  height: 117.55px;
  width: 1023.65px;
  margin-right: 49.35px;
  margin-left: 62.46px;
  margin-bottom: 3%;
  margin-top: 73.45px; 
  float: right;
  border-bottom-style: solid;
  border-width: 3px;
  border-color:#373867;
  font-family: 'Roboto';
  font-size: 70px; 
  font-weight: bold;
  color:#373867;  
}
nav {
  position: relative;
  padding-top: 35.22px;
  padding-left: 30px;
  padding-right: 30px;
  float: left;
  border: 1px solid black;
  width: 15%;
  height: 100%;
  background-color: #B1B2B6; 
  opacity: 0.9;
}
a {
  text-decoration: none;
}
.container-search {
  width: 100px;
  position: relative;
}
.container-search input#search  {
  width: 200px;
  height: 25px;
  font-size: 10pt;
  float: left;
  padding-left: 5px;
  border: none;
  border-radius: 3px;
  }
.container-search .icon  {
  position: absolute;
  top: 50%;
  margin-left: -30px;
  margin-top: 5px;
  color: #B1B2B6;
}

.container-search button  {
  border: 0px;
  background-color: #FFFFFF;
}
.buttons-account  {
  width: 91.96px;
  height: 34.99px;
  margin-top: 27.73px;
  border-radius: 11.24px;
  border: none;
}
#log-in {
  background-color: #49A37B; 
}
#sign-up  {
  background-color: #373867;
}
.buttons-account a  {
  color: #FFFFFF;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 11.99px;
}
.menu {
  margin-top: 37.71px;
  padding-bottom: 6px;
  border-bottom-style: solid;
  border-width: 1.5;
  border-color: #49A37B;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  color: #373867;
}
.sub-menu {
  margin-top: 24px;
}
.sub-menu li  {
  margin-top: 7px;
}
.sub-menu li a  {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 15px;
  color: #373867;
}
.get-in-touch {
  margin-top: 270.55px;
}
.more-data li{
  margin-top: 12px;
  font-style: normal;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #373867;
}
.main {
  position: relative;
  float: right;
  width: 80%;
  border: 1px solid black;
}
.first-contain  {
  margin-bottom: 125px;
}
.info-contain {
  margin-bottom: 100px;
  border: 1px solid black;
}
.title  {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #49A37B;
}
.info-p {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  text-align: justify;
  font-style: normal;
  line-height: 22px;
  color: #373867CC;
}
.info-left  {
  position: relative;
  margin-left: 60px;
  margin-right: 40px;
  width: 35%;
  float: left;
}
.image  {
  width: 515px;
  height: 315px;
  border: 0.7px solid #373867;
  border-radius: 17px;
}
.image .first-image  {
  position: relative;
  width: 48%;
  margin-right: 80px;
  margin-left: 30px;
  margin-top: 11px;
  float: right;
  border: 1px black solid;
}
.size-image-one {
  width: 513.39px;
  height: 312.71px;
}
.info-right  {
  position: relative;
  width: 48%;
  margin-right: 65px;
  float: right;
  border: 1px black solid;
}
.second-image {
  position: relative;
  width: 40%;
  margin-right: 80px;
  margin-left: 40px;
  margin-top: 79px;
}

.size-image-two {
  width: 400px;
  height: 200px;
}

#first-learn-button {
  width: 82px;
  height: 26px;
  margin-top: 13px;
  border: none;
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  color: #373867;
  background-color:#AACE9B;
}
.features-content {
  position: relative;
  width: 100%;
  align-items: center;
  border: 1px solid black;
}
#contact-us {
  margin-top: 2%;
}
footer  {
  position: relative;
  float: right;
  width: 80%;
}
