nav{
    display: none;
    flex-direction: column;
    flex-basis: 20%;
    justify-content: flex-start;
    
    height: 100%;
    background-color: #B1B2B6;
    opacity: 0.9;
    
    
    border: 1px solid black;

}